/* Set the root style options */
.root, #scrollBox {
    -fx-background-color: #292929;
    -fx-text-fill: #f2f2f2;
}

/* Set style options of fx:id="header" */
#header {
    -fx-background-color: #474747;
}

/* Set style options of fx:id="secondary" */
#secondary {
    -fx-background-color: #5c5c5c;
}

/* Set style options for label */
.label {
        -fx-text-fill: #f2f2f2;
}

/* Set text color for text-area */
.text-area {
    -fx-text-fill: #f2f2f2;
}

/* Set style options for text-field and text-area */
.text-field, .text-area .content {
    -fx-text-fill: #f2f2f2;
    -fx-background-color: #333333;
    -fx-border-radius: 5;
}

.text-field {
    -fx-border-color: #f2f2f2;

}
/* Set style options for radio-button */
.radio-button {
    -fx-text-fill: #f2f2f2;
}

/* Set style options for button */
.button {
    -fx-background-color: #5c5c5c;
    -fx-text-fill: #f2f2f2;
    -fx-background-radius: 5,5,4;
    -fx-border-radius: 5,5,4;
    -fx-border-color: #f2f2f2;
}

/* Set style of button when mouse hovers over it */
.button:hover {
    -fx-background-color: #4c4c4c;
}

#SummarizeButton, #ResummarizeButton {
    -fx-background-color: #20639B;
    -fx-text-fill: f2f2f2;
    -fx-background-radius: 5,5,4;
    -fx-border-color: transparent;
}

/* Set style of navigation bar buttons */
#NotesButton, #SignOutButton, #QuizButton, #modeButton, #AccountButton, #MainButton {
    -fx-background-color: #474747;
    -fx-text-fill: f2f2f2;
    -fx-background-radius: 5,5,4;
}

.tree-view, .tree-cell {
    -fx-text-fill: #f2f2f2;
    -fx-background-color: #333333;
}

/* Set style for ListView */
.list-view, .list-cell {
    -fx-background-color: #333333;
    -fx-text-fill: #f2f2f2;
}

/* Highlight selected item in ListView */
.list-cell:selected {
    -fx-background-color: #5c5c5c;
    -fx-text-fill: #ffffff;
}
