/* Set the root style options */
.root, #scrollBox {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #212121;
}

/* Set style options of fx:id="header" */
#header {
    -fx-background-color: #d8d8d8;
}

/* Set style options of fx:id="secondary" */
#secondary {
    -fx-background-color: #e5e5e5;
}

/* Set style options for button */
.button {
    -fx-background-color: #d8d8d8;
    -fx-text-fill: black;
    -fx-background-radius: 5,5,4;
    -fx-border-radius: 5,5,4;
    -fx-border-color: black;
}

/* Set style of button when mouse hovers over it */
.button:hover {
    -fx-background-color: #d9d9d9;
}

#SummarizeButton, #ResummarizeButton {
    -fx-background-color: #20639B;
    -fx-text-fill: f2f2f2;
    -fx-background-radius: 5,5,4;
    -fx-border-color: transparent;
}

/* Set style of navigation bar buttons */
#NotesButton, #SignOutButton, #QuizButton, #modeButton, #AccountButton, #MainButton {
    -fx-background-color: #d8d8d8;
    -fx-text-fill: black;
    -fx-background-radius: 5,5,4;
}

/* Set color of node with fx:id="confirmBtn" */
#confirmBtn {
    -fx-background-color: #2386ad;
}

.text-field {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

/* Set style options for text-area */
.text-area .content {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-radius: 5;
}

.label, .check-box {
    -fx-text-fill: black;
}

/* Set style options for radio-button */
.radio-button {
    -fx-text-fill: black;
}

.tree-view, .tree-cell {
    -fx-text-fill: black;
    -fx-background-color: white;
}