/* Select all buttons and set the background color to red
and the text color to white */
.button {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

/* Set color of button when mouse hovers over it */
.button:hover {
    -fx-background-color: #d9d9d9;
}

/* Set color of node with fx:id="confirmBtn" */
#confirmBtn {
    -fx-background-color: #2386ad;
}

.text-field {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.label, .check-box {
    -fx-text-fill: black;
}

/* Set the root's color to lightblue */
.root {
    -fx-background-color: #f2f2f2;
}
